@mixin center() {
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1060px;
  width: 100%;

  @include desktop() {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin primaryLink($primary, $invert, $interactive) {
  color: $primary;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background: $interactive;
    color: $invert;
  }

  &:focus {
    outline: 2px solid $interactive;
    outline-offset: 2px;
  }
}