@import './reset.scss';
@import './fonts.scss';
@import './variables.scss';
@import './base.scss';

@import './modules/typography.scss';

@import 'utilities/mixins.scss';
@import 'layout.scss';
@import 'footer.scss';
@import 'header.scss';

@import './modules/button.scss';
@import './modules/logo.scss';
@import './modules/landing-section.scss';

.panton-regular {
  font-family: $font-panton-regular;
}

.panton-bold {
  font-family: $font-panton-bold;
}

.canoodle {
  font-family: $font-canoodle;
}