// Q TODO - move the l-header class to the layouts file

.header-wrapper {
  background-color: $primaryBackgroundColorDark;
  background-image: url(./img/header-bg-image.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mobile {

  }
}

.l-header {
  @include center;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;

  @include mobile {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header__subhead {
  font-family: $font-panton-regular;
  font-size: 48px;
  line-height: .5;
  color: $white;

  @include mobile {
    margin-bottom: 26px;
    font-size: 32px;
  }
}

.header__subhead--bold {
  font-family: $font-panton-bold;
}

.header__display {
  margin-bottom: 14px;
  font-family: $font-canoodle;
  font-size: 193px;
  line-height: normal;
  text-align: center;
  color: $white;

  @include mobile {
    margin-bottom: 24px;
    font-size: 100px;
    line-height: .8;
  }
}

.header__time {
  font-size: 32px;
  letter-spacing: 1.5px;
  text-align: center;
  color: $secondaryColor;
}

.header__time-bold {
  font-family: $font-panton-bold;
}