//
// VARIABLES
//

// Colors
$primaryColor: #031C2D;
$primaryColorInteractive: #031D2E;
$secondaryColor: #309EE6;
$primaryBackgroundColor: #EFC914;
$primaryBackgroundColorDark: #063250;
$primaryBackgroundColorInteractive: #EFC914;
$secondaryBackgroundColor: #E9F6FF;
$colorBackgroundColorDark-1: #063757;
$primaryBorderColor: #0F6CA9;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$midGray: #666;
$lightGray: #eee;
$white: #fff;

// Icon Colors
$facebookColor :#3b5998;
$twitterColor :#4099ff;

// Font stacks
$font-panton-regular: 'Panton W01 Regular', sans-serif;
$font-panton-bold: 'Panton W01 Bold', sans-serif;
$font-canoodle: 'Canoodle W05 Regular', sans-serif;

// Mobile breakpoints
@mixin phone {
	@media screen and (max-width: 480px) {
		@content;
	}
}
@mixin mobile {
	@media screen and (max-width: 640px) {
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: 641px) and (max-width: 959px) {
		@content;
	}
}
@mixin desktop {
	@media screen and (min-width: 960px) {
		@content;
	}
}
