//
// VARIABLES
//

// Colors
$primaryColor: #031D2E;
$primaryColorInteractive: #031D2E;
$primaryBackgroundColor: #EFC914;
$primaryBackgroundColorInteractive: #EFC914;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$midGray: #666;
$lightGray: #eee;
$white: #fff;

// Icon Colors
$facebookColor :#3b5998;
$twitterColor :#4099ff;

// Font stacks
$font-panton-regular: 'Panton W01 Regular', sans-serif;
$font-panton-bold: 'Panton W01 Bold', sans-serif;
$font-canoodle: 'Canoodle W05 Regular', sans-serif;

// Mobile breakpoints
@mixin mobile {
	@media screen and (max-width: 640px) {
		@content;
	}
}
@mixin phone {
	@media screen and (max-width: 480px) {
		@content;
	}
}
@mixin desktop {
	@media screen and (max-width: 960px) {
		@content;
	}
}
