$color-background-card: #106CA9;

.cards {
	display: grid;	
	grid-template-columns: repeat(auto-fit, minmax(388px, 1fr));
	gap: 20px;
}

.cards__headline {
	font-family: $font-canoodle;
}

.card {
	padding: 1.125rem 1.625rem 1.625rem;
	background-color: $color-background-card;
	border-radius: 8px;
}

.card__title {
	color: $white;
	font-family: $font-panton-bold;
}

.card__speaker {
	color: $white;
	font-family: $font-panton-regular;
	line-height: 1.1;
}
