.contact {
  padding: 92px 60px 260px;
  @include center();
  max-width: 710px;
  background-color: $colorBackgroundColorDark-1;

  @include phone {
    margin-bottom: 26px;
    padding: 60px 46px 110px;
  }
}

.contact__headline {
  margin-bottom: 14px;
  text-align: center;
  font-family: $font-canoodle;
  color: $white;

  @include phone {
    margin-bottom: 23px;
  }
}

.contact__description {
  padding-top: 92px;
  margin-bottom: 95px;
  color: $white;

  text-align: center;

  @include phone {
    margin-bottom: 55px;
  }
}

.contact__button {
  margin-left: auto;
  margin-right: auto;
  display: block;

  @include phone {
    // margin-top: 24px;
  }
}

.contact__form-field {
  margin-bottom: 23px;

  &:last-of-type {
    margin-bottom: 42px;
  }
}

.contact__form-input {
  padding: 12px 6px;
  font-family: $font-panton-regular;
  background: none;
  border: none;
  border-bottom: 4px solid $primaryBorderColor;

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $white;
  }
}
