.contact {
  padding: 92px 60px 260px;
  @include center();

  @include phone {
    margin-bottom: 26px;
    padding: 60px 46px 110px;
  }
}

.contact__headline {
  margin-bottom: 14px;
  text-align: center;
  font-family: $font-canoodle;

  @include phone {
    margin-bottom: 23px;
  }
}

.contact__description {
  padding-top: 92px;
  margin-bottom: 95px;

  text-align: center;

  @include phone {
    margin-bottom: 55px;
  }
}

.contact__button {
  margin-left: auto;
  margin-right: auto;
  display: block;

  @include phone {
    // margin-top: 24px;
  }
}

.contact__form-field {
  margin-bottom: 23px;

  &:last-of-type {
    margin-bottom: 42px;
  }
}

.contact__form-input {
  background: none;
  border: none;
  border-bottom: 4px solid $primaryBorderColor;
  padding: 12px 6px;
}
