.landing-section {
  min-height: 68vh;
  display: flex;
  align-items: center;
}

.landing-section--cards {
	background-color: $secondaryBackgroundColor;
}

.landing-section--details {
  background-image: url(./img/details-lightening-bolt.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 8% 72px;

  @include mobile {
    background-size: 153px;
    background-position: 22% 54px;
  }
}

.landing-section--contact {
  background-color: $colorBackgroundColorDark-1;
  background-image: url(./img/footer-bg-image.svg);
  background-repeat: no-repeat;
  background-position: left 120px;
  background-size: cover;

  @include desktop {
    background-position-y: 79px;
  }
}

.landing-section--code-of-conduct {
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: flex-start;

  @include center();

  & > p:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.landing-section--footer {
  background-color: $primaryBorderColor;
}