// TODO CLEAN UP FILE - BETTER SVG LAYER NAMING?

.cls-1{fill:#e83644;}
.cls-2{fill:#2ebec1;}
.cls-3{fill:#b72133;}
.cls-4{fill:#db232a;}
.cls-5{fill:#f47721;}
.cls-6{fill:#146488;}
.cls-7{fill:#0d5075;}
.cls-8{fill:#063249;}
.cls-9{fill:#00afb4;}
.cls-10{fill:#009e9e;}
.cls-11{fill:#9e2036;}
.cls-12{fill:#efc818;}
.cls-13{fill:#093d5e;}
.cls-14{fill:#0a3d5e;}
